#title{
    text-align: center;
    background-color:orange;
}
#back{
    background-color:cornflowerblue;
    text-align:center;
    font-family:cursive;
}
#foot{
    color:orange;
    text-align: end;    
}
#click{
    color:orange;
    font-family: cursive;
}
#edu_h2{
    background-color: orange;
    color:black;
    font-family:cursive;
}
#exp_h2{
    background-color: orange;
    color:black;
    font-family:cursive;
}
#proj_h2{
    background-color: orange;
    color:black;
    font-family:cursive;
}
a{
    text-decoration: none;
    font-family: cursive;
    color:orange;
}